<div class="control-group">
  <!-- Checkbox Checked -->
  <div class="a-control a-control--checkbox">
    <label for="Checked">
      <input type="checkbox" value="None" id="Checked" name="check" checked="checked" />
      <span class="a-control__indicator"></span>
      <span class="a-control__label">Checked</span>
    </label>
  </div>
  <!-- end Checkbox Checked -->
</div>
