<div class="control-group">
  <!-- Checkbox Unchecked -->
  <div class="a-control a-control--checkbox">
    <label for="UnChecked">
      <input type="checkbox" value="None" id="UnChecked" name="check" />
      <span class="a-control__indicator"></span>
      <span class="a-control__label">Unchecked</span>
    </label>
  </div>
  <!-- end Checkbox Unchecked -->
</div>
