<div class="control-group">
  <!-- Checkbox Inactive -->
  <div class="a-control a-control--checkbox">
    <label for="Inactive">
      <input type="checkbox" value="None" id="Inactive" name="check" disabled="disabled" />
      <span class="a-control__indicator"></span>
      <span class="a-control__label">Inactive</span>
    </label>
  </div>
  <!-- end Inactive -->
</div>
