<div class="control-group">
  <!-- Radio Button UnSelected -->
  <div class="a-control a-control--dateSelector">
    <label for="1week">
      <input type="radio" value="None" id="1week" name="dateSelector" />
      <span class="a-control__label">1 Week</span>
    </label>
    <label for="2weeks">
      <input type="radio" value="None" id="2weeks" name="dateSelector" />
      <span class="a-control__label">2 Weeks</span>
    </label>
    <label for="month">
      <input type="radio" value="None" id="month" name="dateSelector" />
      <span class="a-control__label">Month</span>
    </label>
    <label for="year">
      <input type="radio" value="None" id="year" name="dateSelector" />
      <span class="a-control__label">Year</span>
    </label>
  </div>
  <!-- end Radio Button UnSelected -->
</div>
