<label class="a-labelText">
  Label
  <input type="text" class="a-inputText a-inputText--error" value="" placeholder="Input Text" />
  <span class="a-inputText--errorMessage">Username not found</span>
</label>
