<form method="post" class="a-formSearch">
  <label class="a-labelSearch">
    <input type="text" class="a-inputSearch" value="" placeholder="Search" />
  </label>
  <ul class="a-inputSearchSuggestionResults" >
    <li>Search Result #1<br /><span>Description...</span></li>
    <li>Search Result #2<br /><span>Description...</span></li>
    <li>Search Result #3<br /><span>Description...</span></li>
    <li>Search Result #4</li>
  </ul>
</form>
