<label class="a-labelText">
  Label
  <input type="text" class="a-inputText a-inputText--success" value="" placeholder="Input Text" />
  <span class="a-inputText--successMessage">Success!</span>
</label>
