<div class="control-group">
  <!-- Radio Button Inactive -->
  <div class="a-control a-control--radioButton">
    <label for="Inactive">
      <input type="radio" value="None" id="Inactive" name="Inactive" disabled="disabled" />
      <span class="a-control__indicator"></span>
      <span class="a-control__label">Inactive</span>
    </label>
  </div>
  <!-- end Radio Button Inactive -->
</div>
