<div class="control-group">
  <!-- Radio Button UnSelected -->
  <div class="a-control a-control--radioButton">
    <label for="UnSelected">
      <input type="radio" value="None" id="UnSelected" name="UnSelected" />
      <span class="a-control__indicator"></span>
      <span class="a-control__label">Unselected</span>
    </label>
  </div>
  <!-- end Radio Button UnSelected -->
</div>
