<div class="control-group">
  <!-- Radio Button Selected -->
  <div class="a-control a-control--radioButton">
    <label for="Selected">
      <input type="radio" value="None" id="Selected" checked="checked" name="Selected" />
      <span class="a-control__indicator"></span>
      <span class="a-control__label">Selected</span>
    </label>
  </div>
  <!-- end Radio Button Selected -->
</div>
