<div class="control-group">

  <div class="a-control a-control--switchRound">
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      <span class="a-control__label">Off</span>
    </label>
  </div>

</div>
